<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyc.dao.PaymentMapper" >
  <resultMap id="BaseResultMap" type="com.cyc.pojo.Payment" >
    <constructor >
      <idArg column="wechat_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="package" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="contract_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="payment_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="discount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="paid_amout" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="signed_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    wechat_id, name, package, contract_status, payment_status, discount, paid_amout, 
    signed_date, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from payment
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from payment
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cyc.pojo.Payment" >
    insert into payment (wechat_id, name, package, 
      contract_status, payment_status, discount, 
      paid_amout, signed_date, create_time, 
      update_time)
    values (#{wechatId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{package,jdbcType=INTEGER}, 
      #{contractStatus,jdbcType=INTEGER}, #{paymentStatus,jdbcType=INTEGER}, #{discount,jdbcType=INTEGER}, 
      #{paidAmout,jdbcType=INTEGER}, #{signedDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cyc.pojo.Payment" >
    insert into payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="package != null" >
        package,
      </if>
      <if test="contractStatus != null" >
        contract_status,
      </if>
      <if test="paymentStatus != null" >
        payment_status,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="paidAmout != null" >
        paid_amout,
      </if>
      <if test="signedDate != null" >
        signed_date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="package != null" >
        #{package,jdbcType=INTEGER},
      </if>
      <if test="contractStatus != null" >
        #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentStatus != null" >
        #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="paidAmout != null" >
        #{paidAmout,jdbcType=INTEGER},
      </if>
      <if test="signedDate != null" >
        #{signedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyc.pojo.Payment" >
    update payment
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="package != null" >
        package = #{package,jdbcType=INTEGER},
      </if>
      <if test="contractStatus != null" >
        contract_status = #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentStatus != null" >
        payment_status = #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="paidAmout != null" >
        paid_amout = #{paidAmout,jdbcType=INTEGER},
      </if>
      <if test="signedDate != null" >
        signed_date = #{signedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyc.pojo.Payment" >
    update payment
    set name = #{name,jdbcType=VARCHAR},
      package = #{package,jdbcType=INTEGER},
      contract_status = #{contractStatus,jdbcType=INTEGER},
      payment_status = #{paymentStatus,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      paid_amout = #{paidAmout,jdbcType=INTEGER},
      signed_date = #{signedDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </update>
</mapper>