<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyc.dao.PersonalMapper" >
  <resultMap id="BaseResultMap" type="com.cyc.pojo.Personal" >
    <constructor >
      <idArg column="uuid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="student_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wechat_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="consultant_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="school" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="minor" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="visa" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, student_name, email, wechat_id, consultant_name, school, major1, major2, minor, 
    visa
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from personal
    where uuid = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from personal
    where uuid = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyc.pojo.Personal" >
    insert into personal (uuid, student_name, email, 
      wechat_id, consultant_name, school, 
      major1, major2, minor, 
      visa)
    values (#{uuid,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{wechatId,jdbcType=VARCHAR}, #{consultantName,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{major1,jdbcType=VARCHAR}, #{major2,jdbcType=VARCHAR}, #{minor,jdbcType=VARCHAR}, 
      #{visa,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cyc.pojo.Personal" >
    insert into personal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="consultantName != null" >
        consultant_name,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="major1 != null" >
        major1,
      </if>
      <if test="major2 != null" >
        major2,
      </if>
      <if test="minor != null" >
        minor,
      </if>
      <if test="visa != null" >
        visa,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="consultantName != null" >
        #{consultantName,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major1 != null" >
        #{major1,jdbcType=VARCHAR},
      </if>
      <if test="major2 != null" >
        #{major2,jdbcType=VARCHAR},
      </if>
      <if test="minor != null" >
        #{minor,jdbcType=VARCHAR},
      </if>
      <if test="visa != null" >
        #{visa,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyc.pojo.Personal" >
    update personal
    <set >
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="consultantName != null" >
        consultant_name = #{consultantName,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major1 != null" >
        major1 = #{major1,jdbcType=VARCHAR},
      </if>
      <if test="major2 != null" >
        major2 = #{major2,jdbcType=VARCHAR},
      </if>
      <if test="minor != null" >
        minor = #{minor,jdbcType=VARCHAR},
      </if>
      <if test="visa != null" >
        visa = #{visa,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyc.pojo.Personal" >
    update personal
    set student_name = #{studentName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      wechat_id = #{wechatId,jdbcType=VARCHAR},
      consultant_name = #{consultantName,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      major1 = #{major1,jdbcType=VARCHAR},
      major2 = #{major2,jdbcType=VARCHAR},
      minor = #{minor,jdbcType=VARCHAR},
      visa = #{visa,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>