<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyc.dao.PersonalMapper" >
  <resultMap id="BaseResultMap" type="com.cyc.pojo.Personal" >
    <constructor >
      <idArg column="wechat_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="student_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="consultant_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="school" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="minor" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="visa" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    wechat_id, student_name, gender, consultant_name, school, major1, major2, minor, 
    visa, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from personal
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from personal
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cyc.pojo.Personal" >
    insert into personal (wechat_id, student_name, gender, 
      consultant_name, school, major1, 
      major2, minor, visa, 
      create_time, update_time)
    values (#{wechatId,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{consultantName,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{major1,jdbcType=VARCHAR}, 
      #{major2,jdbcType=VARCHAR}, #{minor,jdbcType=VARCHAR}, #{visa,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cyc.pojo.Personal" >
    insert into personal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="consultantName != null" >
        consultant_name,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="major1 != null" >
        major1,
      </if>
      <if test="major2 != null" >
        major2,
      </if>
      <if test="minor != null" >
        minor,
      </if>
      <if test="visa != null" >
        visa,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="consultantName != null" >
        #{consultantName,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major1 != null" >
        #{major1,jdbcType=VARCHAR},
      </if>
      <if test="major2 != null" >
        #{major2,jdbcType=VARCHAR},
      </if>
      <if test="minor != null" >
        #{minor,jdbcType=VARCHAR},
      </if>
      <if test="visa != null" >
        #{visa,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyc.pojo.Personal" >
    update personal
    <set >
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="consultantName != null" >
        consultant_name = #{consultantName,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major1 != null" >
        major1 = #{major1,jdbcType=VARCHAR},
      </if>
      <if test="major2 != null" >
        major2 = #{major2,jdbcType=VARCHAR},
      </if>
      <if test="minor != null" >
        minor = #{minor,jdbcType=VARCHAR},
      </if>
      <if test="visa != null" >
        visa = #{visa,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyc.pojo.Personal" >
    update personal
    set student_name = #{studentName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      consultant_name = #{consultantName,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      major1 = #{major1,jdbcType=VARCHAR},
      major2 = #{major2,jdbcType=VARCHAR},
      minor = #{minor,jdbcType=VARCHAR},
      visa = #{visa,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where wechat_id = #{wechatId,jdbcType=VARCHAR}
  </update>
  <select id="checkExists" resultType="int" parameterType="string">
    select count(1) from personal where wechat_id = #{wechatId}
  </select>
</mapper>